---
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@src/components/common/Section.astro";
import Heading from "@src/components/parts/Heading.astro";
import Text from "@src/components/parts/Text.astro";
import MediaImage from "@src/components/parts/MediaImage.astro";
import LinkButton from "@src/components/parts/LinkButton.astro";
import Toggle from "@src/components/parts/Toggle.astro";
import Modal from "@src/components/parts/Modal.astro";
import Accordion from "@src/components/templates/Accordion.astro";
import Tab from "@src/components/parts/Tab.astro";
import List from "@src/components/parts/List.astro";
import ListLink from "@src/components/parts/ListLink.astro";
---

<BaseLayout
  title="コンポーネントリスト"
  description="コンポーネントリスト"
>
  <main>
    <Heading
      level={1}
      text="コンポーネントリスト"
      centering={true}
    />

    <Section
      gray={true}
    >
      <Heading
        level={2}
        text="Text コンポーネント"
      />

      <Text text={["テキストテキストテキスト", "テキストテキスト<sup>※</sup>テキストテキスト"]} />
      <Text text={["テキストテキストテキスト", "テキストテキスト<sup>※</sup>テキストテキスト"]} />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "引数 text は配列で指定してください",
          "引数 text は配列の要素ごとに p 要素が生成されます",
          "改行したいときは配列の要素ごとに設定してください",
          "Text コンポーネント内の p 要素同士には上下余白はありません",
          "上下余白を設定したい場合は Text コンポーネントを複数使用してください",
          "配列内で HTML 要素を記述すると、 HTML 要素として出力されます",
          "上記方法で出力された HTML 要素はコンポーネントファイル内で CSS の設定ができません",
        ]}
      />
    </Section>


    <Section>
      <Heading
        level={2}
        text="MediaImage コンポーネント"
      />

      <MediaImage
        imgSrc="/assets/image/dummy.webp"
        alt="__dummy__"
        width="600"
        height="400"
        lazy={true}
        async={true}
      />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>


    <Section
      gray={true}
    >
      <Heading
        level={2}
        text="LinkButton コンポーネント"
      />

      <LinkButton
        text="リンクボタン"
        href="__dummy__"
        blank={false}
      />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>


    <Section>
      <Heading
        level={2}
        text="List コンポーネント"
      />

      <List
        text={[
          "リストリストリストリスト",
          "リストリスト",
        ]}
      />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>


    <Section
      gray={true}
    >
      <Heading
        level={2}
        text="ListLink コンポーネント"
      />

      <ListLink
        link={
          [
            {
              href: '/__dummy__/',
              text: 'リストリンク1',
            },
            {
              href: '/__dummy__/',
              text: 'リストリンク2',
            }
          ]
        }
      />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>


    <Section>
      <Heading
        level={2}
        text="Toggle コンポーネント"
      />

      <Toggle
        buttonText="トグルボタン"
        bodyText={["テキストテキストテキスト", "テキストテキスト"]}
      />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>


    <Section
      gray={true}
    >
      <Heading
        level={2}
        text="Accordion コンポーネント"
      />

      <Accordion />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>


    <Section>
      <Heading
        level={2}
        text="Modal コンポーネント"
      />

      <Modal
        buttonText={["モーダルボタン"]}
        headingLevel={2}
        headingText={["モーダル見出し"]}
        bodyText={[
          "テキストテキストテキスト",
          "テキストテキストテキスト",
          "テキストテキストテキスト"
        ]}
      />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>


    <Section
      gray={true}
    >
      <Heading
        level={2}
        text="Tab コンポーネント"
      />

      <Tab />

      <Heading
        level={3}
        text="コンポーネント説明"
      />

      <List
        text={[
          "コンポーネント説明",
        ]}
      />
    </Section>
  </main>
</BaseLayout>

<style lang="scss">
  @use "../../../style/global" as g;
</style>

<script></script>
